SECRET_KEY=THIS_IS_NOT_A_GOOD_SECRET
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,.localhost,.herokuapp.com

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_USE_TSL=False
EMAIL_USE_SSL=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

#EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
#EMAIL_HOST=servico-de-email-sendgrid-ou-gmail
#EMAIL_PORT=465-ver-configuracao-servico-email
#EMAIL_USE_TSL=False-ver-configuracao-servico-email
#EMAIL_USE_SSL=True-ver-configuracao-servico-email
#EMAIL_HOST_USER=endereco-de-email
#EMAIL_HOST_PASSWORD=senha-do-email