<!-- m2a12 passo6 - criar a pasta subscriptions, criar a pasta template, criar o form html (este aqui)
html funcional criado pelo HB passo8 ACTION ponto indica que a resposta será devolvida para a mesma url de onde foi
chamadam atraves do medido post  "CRSF_token" é uma proteção que o Django tem para proteger contra invasores.
31:00 conectar o template á classe de formularios do django substituir por marcações do template do Django
-->
<h1>Formulario de inscricao</h1>
<form action="." method="post">
    {% csrf_token %}
    <p>
        <label for="{{form.name.id_for_label }}">{{form.name.label}}</label>
        {{form.name.erros}}
        {{form.name}}

    </p>
    <p>
        <!--
        <label for="id_cpf">CPF:</label>
        <inputt id="id_cpf" type="text" name="cpf" maxlength="11"/>
        -->
        <label for="{{form.cpf.id_for_label }}">{}form.cpf.label}}</label>
        {{form.cpf.erros}}
        {{form.cpf}}

    </p>
    <p>
        <!--
        <label for="id_email">Email:</label>
        <inputt id="id_email" type="email" name="email" maxlength="75"/>
        -->
        <label for="{{form.email.id_for_label }}">{}form.email.label}}</label>
        {{form.email.erros}}
        {{form.email}}
    </p>
    <p>
        <!--
        <label for="id_phone">Telefone:</label>
        <inputt id="id_phone" type="text" name="phone" maxlength="20"/>
        -->
        <label for="{{form.phone.id_for_label }}">{}form.phone.label}}</label>
        {{form.phone.erros}}
        {{form.phone}}
    </p>
    <input type="submit" value="Enviar!"/>
</form>